<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Detalle</title>

</head>

<body style='background-color: #E4E4E4;'>



<nav class="navbar-expand  navbar-dark" style="background-color: #0F0061;">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'inicio'%}">Inicio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <h1><u>{{ producto.nombre_prod }}</u></h1>

  <div class="container-fluid">
    <div class="row py-5" id="inicio">
      <div class="col-md-6 text-center">
        <div class="card" style="width: 80%;"> 
          <div class="card-body">
            <h5 class="card-title">Detalles del producto:</h5>
            <p class="card-text">
                <p>Descripción: {{ producto.descripcion_prod }}</p> <br>
                <p>Categoria: {{ producto.categoria_prod }}</p> <br>
                <p>Cantidad: {{ producto.cantidad_prod }}</p> <br>
                <p>Valor: {{ producto.valor }}</p> <br>


                    <label for="cantidad">Cantidad a comprar </label>
                   <input type="number" class="form-control" id="cantidad" name="cantidad" required>

                   <a class="btn btn-primary" href="{%url 'marketplace'%}" role="button">Comprar</a>
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-6 text-center">
        <img src="https://media.lacapital.com.ar/p/735ed6e3af8804bfcf9e1a2fdcb01376/adjuntos/203/imagenes/030/010/0030010860/5ff46c5e6f0b1jpg.jpg"class="img-fluid" alt="Descripción de la imagen" style="width: 80%;">
        <img src="https://th.bing.com/th/id/R.059e22172d7080240fb54aa7f6331b36?rik=6r2a3MK%2bHgan8g&riu=http%3a%2f%2fblog.phonehouse.es%2fwp-content%2fuploads%2f2016%2f04%2fBODEGON-TABLET-PORTATIL.jpg&ehk=f9dmpCRBZCqjUZoeWKxO4uUrbl7vZxWaNB85A%2fU2o2A%3d&risl=&pid=ImgRaw&r=0"class="img-fluid" alt="Descripción de la imagen" style="width: 80%;">
      </div>

</div>
</body>
</html>

