<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Inicio</title>

</head>

<body style='background-color: #E4E4E4;'>



<nav class="navbar-expand  navbar-dark" style="background-color: #0F0061;">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'login'%}">Login</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'registro'%}">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <img src="https://th.bing.com/th/id/R.3a526f9fe005b0f0a996dc50d7cd3519?rik=ohRpgBdiI5HGhg&pid=ImgRaw&r=0"class="img-fluid" alt="Descripción de la imagen" style="width: 100%;">





<div class="container-fluid">
  <div class="row py-5" id="inicio">
    <div class="col-md-6 text-center">
      <div class="card" style="width: 80%;"> 
        <div class="card-body">
          <h5 class="card-title">Habilidades:</h5>
          <p class="card-text">Lenguajes: Java, Python</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center my-auto">
      <div class="card" style="width: 80%;">
        <div class="card-body">
          <p class="card-text">
            Nombre: María Ximena <br>
            Apellido: Osorno Arenas <br>
            Cedula: 1040870228 <br>
            Correo: maria_osorno82221@elpoli.edu.co <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>

