<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Login</title>

</head>

<body style='background-color: #E4E4E4;'>



<nav class="navbar-expand  navbar-dark" style="background-color: #0F0061;">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'inicio'%}">Inicio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row py-5" id="registro">
      <div class="col-md-6 text-center">
        <div class="card" style="width: 80%;">
          <img src="https://th.bing.com/th/id/OIP.ccubTh6era3nkOLcguxnrwAAAA?rs=1&pid=ImgDetMain" class="card-img-top">
        </div>
      </div>

       <div class="col-md-6 text-center">
            <div class="card" style="width: 80%;"> 
              <div class="card-body">
                <h5 class="card-title">Login</h5>
                <h6 class="card-subtitle mb-2 text-muted">Ingresa tus datos</h6>
                <p class="card-text">
                  
               
                  <form class="my-form" method = "POST">
                    {% csrf_token %}
                    <div class="text-field">
                        <label for="text">Usuario:</label>
                         {{ formulario.usuario }} 
                    </div>
                    <div class="text-field">
                        <label for="password">Clave:</label>
                        {{ formulario.clave }}
                    </div>
                    <input type="submit" class="my-form__button" value="Ingresar">


                    <div class="my-form__actions">
                        <div class="my-form__row">
                        </div>
                        <div class="my-form__signup">
                            <a href="{%url 'registro'%}" title="Registrarse">
                              Registrarse
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    
    
                </p>
              </div>
            </div>
          </div>
    </div>

    </div>
  </div>


  <div class="container-fluid">
    <div class="row py-5" id="inicio">
      <div class="col-md-6 text-center">
        <div class="card" style="width: 80%;"> 
          <div class="card-body">
            <h5 class="card-title">Habilidades:</h5>
            <p class="card-text">Lenguajes: Java, Python</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center my-auto">
        <div class="card" style="width: 80%;">
          <div class="card-body">
            <p class="card-text">
              Apellido: Osorno Arenas <br>
              Cedula: 1040870228 <br>
              Correo: maria_osorno82221@elpoli.edu.co <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>




  
</body>
</html>

