<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Marketplace</title>

</head>

<body style='background-color: #E4E4E4;'>



    <nav class="navbar-expand  navbar-dark" style="background-color: #0F0061;">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'inicio'%}">Inicio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


  <div class="container-fluid">
    <div class="row py-5" id="inicio">
        <div class="col-md-6 text-center mx-auto">
            <div class="card" style="width: 100%;"> 
                <div class="card-body">
                    <h5 class="card-title">Categoria 1</h5>
                    <p class="card-text">Celulares</p>
                    <a href="{% url 'marketplace_cat' categoria_prod='celular' %}" class="btn btn-primary" style="background-color: #6166f5;">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="row py-5" id="producto">

    <div class="col-md-4 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://reviews.texnologia.net/wp-content/uploads/2022/06/samsung-galaxy-s20-fe-2022.jpg"
                class="card-img-top" alt="celularuno">
            <div class="card-body">
                <h5 class="card-title">Samsung Galaxy S23 FE 5G</h5>
                <a href="{% url 'detalle' producto_id=1 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center my-auto">
        <div class="card" style="width: 18rem;">
            <img src="https://media.yeah1.com/files/ngannguyen/2023/06/08/ro-hinh-anh-iphone-15-va-iphone-15-pro-mau-huong-phan-1-142220.jpg"
                class="card-img-top" alt="celulardos">
            <div class="card-body">
                <h5 class="card-title">Iphone 15</h5>
                <a href="{% url 'detalle' producto_id=2 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center my-auto">
        <div class="card" style="width: 18rem;">
            <img src="https://hiideemedia.com/wp-content/uploads/2022/04/Huawei-P60-Pro-Plus-1-large.jpg"
                class="card-img-top" alt="celulartres">
            <div class="card-body">
                <h5 class="card-title">Huawei p60 pro</h5>
                <a href="{% url 'detalle' producto_id=3 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
</div>
</div>





<div class="container-fluid">
    <div class="row py-5" id="inicio">
        <div class="col-md-6 text-center mx-auto">
            <div class="card" style="width: 100%;"> 
                <div class="card-body">
                    <h5 class="card-title">Categoria 2</h5>
                    <p class="card-text">Portatiles</p>
                    <a href="{% url 'marketplace_cat' categoria_prod='portatil' %}" class="btn btn-primary" style="background-color: #6166f5;">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="row py-5" id="producto">

    <div class="col-md-4 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://media.itpro.co.uk/image/upload/v1570817139/itpro/2019/02/lenovo_thinkpad_x1_extreme_1.jpg"
                class="card-img-top" alt="portatiluno">
            <div class="card-body">
                <h5 class="card-title">ThinkPad X1</h5>
                <a href="{% url 'detalle' producto_id=6 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center my-auto">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn1.smartprix.com/rx-iHrilkoHW-w1200-h1200/HrilkoHW.jpg"
                class="card-img-top" alt="portatildos">
            <div class="card-body">
                <h5 class="card-title">Portátil HP 15-dy5000la</h5>
                <a href="{% url 'detalle' producto_id=7 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center my-auto">
        <div class="card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/R.b7d43ed41d70d16407be053712d1fcbc?rik=4BP0lgUWPOxanQ&pid=ImgRaw&r=0"
                class="card-img-top" alt="portatiltres">
            <div class="card-body">
                <h5 class="card-title">Asus Zenbook S13</h5>
                <a href="{% url 'detalle' producto_id=8 %}" class="btn btn-primary" style="background-color: #6166f5;">Detalle</a>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>