<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Detalle</title>

</head>

<body style='background-color: #ECCAFF;'>



  <nav class="navbar navbar-expand navbar-dark" style="background-color: #84198B;">
    <a class="navbar-brand" href="{%url 'inicio'%}">  <img src="https://cdn.icon-icons.com/icons2/3276/PNG/512/slice_cake_birthday_cake_dessert_sweet_icon_207992.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      TIENDA POSTRES</a>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'productos'%}"> Productos</a>
        </li>
      </ul>
    </div>
  </nav>
  


    <h1>{{ producto.nombre}}</h1>

    <div class="container-fluid">
      <div class="row py-5" id="inicio">
        <div class="col-md-6 text-center">
          <div class="card" style="width: 80%;">
            <img src={{producto.imagen.url}} class="card-img-top" alt="imagen"> 
            <div class="card-body">
              <h5 class="card-title">Detalles del producto:</h5>
              <p class="card-text">
                  <p>{{ producto.descripcion }}</p> <br>
                  <p>Ingredientes: {{ producto.ingredientes }}</p> <br>
                  <p>Cantidad disponible: {{ producto.cantidad }}</p> <br>
                  <p>Valor: {{ producto.valor }}</p> <br>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="card" style="width: 80%;">
             <div class="card-body">
              <h5 class="card-title">Comprar</h5>
              
              <p class="card-text">
                  
                <label for="cantidad">Cantidad a comprar </label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                
                <a class="btn btn-danger" href="{%url 'productos'%}" role="button">Comprar</a>
                
              </p>
              <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras-by-vexels.png"class="img-fluid" alt="Postres" style="width: 50%;">

           
            </div>
          </div>
        </div>
      </div>
      



</body>
</html>