<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Inicio</title>

</head>

<body style='background-color: #ECCAFF;'>



  <nav class="navbar navbar-expand navbar-dark" style="background-color: #84198B;">
    <a class="navbar-brand" href="{%url 'inicio'%}">  <img src="https://cdn.icon-icons.com/icons2/3276/PNG/512/slice_cake_birthday_cake_dessert_sweet_icon_207992.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      TIENDA POSTRES</a>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'productos'%}"> Productos</a>
        </li>
      </ul>
    </div>
  </nav>
  





    <img src="https://recepti-api.index.hr/img/preview/large/cat/deserti/cat_deserti_deserti.jpg"class="img-fluid" alt="Postres" style="width: 100%;">

    <br>
    <div style='text-align: center;'>
      <h1><strong><em>Bienvenido</em></strong></h1>
    </div>  
    <br>

<div class="container-fluid">
  <div class="row py-5" id="inicio">
    <div class="col-md-6 text-center">
      <div class="card" style="width: 80%;"> 
        <div class="card-body">
          <p class="card-text">[Inserte mensaje bonito de bienvenida a la página]</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center my-auto">
      <div class="card" style="width: 80%;">
        <div class="card-body">
          <h5 class="card-title">Recomendación</h5>
          <p class="card-text">
            <img src="imagenes/imagenes/Brownie.jpg" class="card-img-top" alt="imagen"> <br>
            Te recomendamos probar uno de nuestros mejores productos: ¡Los brownies! <br>
            
            <a href="{% url 'detalle' producto_id=3 %}" class="btn btn-danger">Detalle</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>