<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('https://www.receiteria.com.br/wp-content/uploads/receitas-de-pudim-de-chocolate-03.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card {
      background: rgba(242, 219, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
    }

    .card-header {
      text-align: center;
      font-weight: bold;
    }

    .btn-primary {
      background-color: rgb(53, 20, 94);
      text-align: center;
    }


    .text-field {
      margin-bottom: 15px; 
      text-align: center;
  }
  
  .form-label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      text-align: center;
  }

    .my-form {
        text-align: center;
    }

    .my-form__signup {
        margin-top: 10px; /* Ajusta el margen según sea necesario */
    }


  </style>
</head>

<body style='background-color: #e2ccff;'>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Iniciar Sesión</div>
        <div class="card-body">
         
            <form class="my-form" method = "POST">
                {% csrf_token %}
                <div class="text-field">
                    <label for="text">Usuario:</label>
                     {{ formulario.usuario }} 
                </div>
                <div class="text-field">
                    <label for="password">Clave:</label>
                    {{ formulario.clave }}
                </div>
                <input class="btn btn-danger" type="submit" value="Ingresar">


                <div class="my-form__actions">
                    <div class="my-form__row">
                    </div>
                    <div class="my-form__signup">
                        <a href="{%url 'registro'%}" title="Registrarse">
                          Registrarse
                        </a>
                    </div>
                </div>

                {% if mensaje_error %}
                <div class="error-message">
                    {% for message in mensaje_error %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

         
            </form>





        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>