<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Productos</title>

</head>

<body style='background-color: #ECCAFF;'>



  <nav class="navbar navbar-expand navbar-dark" style="background-color: #84198B;">
    <a class="navbar-brand" href="{%url 'inicio'%}">  <img src="https://cdn.icon-icons.com/icons2/3276/PNG/512/slice_cake_birthday_cake_dessert_sweet_icon_207992.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      TIENDA POSTRES</a>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'productos'%}"> Productos</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div style='text-align: center;'>
    <h1><strong>Elige el producto que desees</strong></h1>
  </div>

  <br>

    {% for producto in producto %}
       <div class="row justify-content-center" id="inicio">
         <div class="card" style="width: 85%;"> 
          <div class="card-body">
            <h3 class="card-title">{{ producto.nombre }}</h3>
              <p class="card-text">   
               <div class="row py-5" id="descripcion">
                  <div class="col-md-6 text-center">
                      {{ producto.descripcion }}<br>
                        <br>
                        Valor del producto: ${{ producto.valor }}<br>
                        <br>
                        <br>
                        <a href="{% url 'detalle' producto_id=producto.id %}" class="btn btn-danger">Detalle</a>
                        </div>


                        <div class="col-md-6 text-center">
                            <img src=" {{ producto.imagen.url }}" class="card-img-top" alt="imagen">
                        </div> 
                  </div>
                </p>
            </div>
        </div>
    </div>
{% endfor %}

</div>


</body>
</html>