<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equip="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Registro</title>

</head>

<body style='background-color: #ECCAFF;'>



  <nav class="navbar navbar-expand navbar-dark" style="background-color: #84198B;">
    <a class="navbar-brand" href="{%url 'registro'%}">REGISTRO</a>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'login'%}"> Login</a>
        </li>
      </ul>
    </div>
  </nav>
  


  


<div class="container-fluid">
  <div class="row py-5" id="inicio">

    <div class="col-md-6 text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/10529/10529184.png"class="img-fluid" alt="Formulario" style="width: 80%;">
    </div>

    <div class="col-md-6 text-center my-auto">
      <div class="card" style="width: 80%;">
        <div class="card-body">
          <p class="card-text">
            
             <form enctype= "multipart/form-data" method="post">
             {% csrf_token %}
             {%for campo in formulario%}
          
              <div class= "mb-3">
               <label for ="" class="form-label" >{{campo.label}}</label>
          
               <input type= "{{campo.field.widget.input_type}}"
                 class="form-control" 
                 name="{{campo.name}}"
                 id="" 
                 aria-describedby="helpId" 
                 placeholder="{{campo.label}}" />
              </div>
                
              <div class= "col-12 help-text"> {{campo.errors}} </div>
              {%endfor%}

              <p>Nota: La fecha de nacimiento debe tener este formato: AAAA-MM-DD [Año-mes-dia]</p>

              <input name="" id="" class="btn btn-danger" type="submit" value="Guardar Info">
          
            </form>

            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>